#block {
		display: inline-flex;
		width: 100px;
		height: 100px;
		border: 10px solid black;
}

#box {width: 480px;
	  height: 480px;
	  background-image: url("fondo.jpg");
}

.a { width: 480px;	
	height: 120px;
}

#buttons{
	padding-top: 100px;
}

#play{
	width: 480px;
	height: 480px;
	background-color: grey;
}

#play:hover{
	background-color: #ccc;
	cursor: pointer;
}

.play1{
	background-color: white;
	width: 200px;
	height: 50px;
	font-size: 30px;
	border-radius: 20%;
}

#button1:hover{
	background-color: #c0ffa0;
}

.image {
	width: 100px;
	height: 100px;
	z-index: 500;
	position: absolute;
}

.logo {
	width: 100px;
	height: 100px;
	z-index: 700;
	position: absolute;
	background-color: white;
}

.animation{
			z-index: 800;
			-webkit-animation-name: anim;
			-webkit-animation-duration: 0.3s;
			-webkit-animation-iteration-count: 1;

}

@-webkit-keyframes anim {
	0%{opacity: 0 }
	100%{opacity: 1;}
	
}

.ilusiones{
	background-image: url(ilusion.jpg);
	width: 480px;
	height: 480px;
}
.invisible{
	opacity: 0;
}