.box {
    border-radius: 4%;
    margin-right: 1%;
    height: 31%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 31%;
}

#container{
	display			:flex;
    flex-direction	: row;
    flex-wrap		: wrap;
    justify-content	: flex-start;
    align-content	: stretch;
    align-items		: stretch;
}